<div class="container">
  <div class="row">
    <div class="col s12 m7 card grey lighten-1">
      <h3>Google Map</h3>
      <div id="map" class="z-depth-1" ng-init="initMap()"></div>
      <button ng-show="proceed" ng-click='check_cabs()' class="btn blue waves-effect waves-blue-darken-2" id="ride_now">Ride
        Now</button>
      <button ng-show="proceed" class="btn orange waves-effect waves-red" id="ride_later">Ride Later</button>
    </div>
    <div class="col s12 m5">
      <div class="home-info card black">
        <div class="card-content">
          <h4 class="white-text">Current Position</h4>
          <div class="input-field">
            <textarea disabled id="pos-input" class="materialize-textarea white-text"></textarea>
          </div>
        </div>
      </div>

      <div class="home-info card black">
        <div class="card-content white-text">
          <h4>Destination</h4>
          <input type="text" id="search" class="input-field white-text" />
          <div>
            <p class="details">Distance
              <span id="distance" class="blue badge white-text">N/A</span>
            </p>
            <p class="details">Duration
              <span id="duration" class="red badge white-text">N/A</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal book -->
<div id="book-modal" class="modal black container">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">local_taxi</i>
        <select>
          <option value="" disabled selected>Choose Cab Type</option>
          <option value="Micro">Micro</option>
          <option value="Mini">Mini</option>
          <option value="Prime Sedan">Prime Sedan</option>
          <option value="Prime SUV">Prime SUV</option>
        </select>
        <!-- <label for="driverCab">Choose Cab Type</label> -->
      </div>
      <div class="col s4">
        <p class="flow-text" style="color:white; text-align: center; font-size: 1.5rem; padding: 0 2rem; margin-top: 17px;"></p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 60px;">
      <div class="col s8 offset-s2">
        <table class="centered white-text">
          <thead class="yellow black-text">
            <th>Cab Type</th>
            <th>Rate</th>
            <th>Distance</th>
          </thead>
          <tbody>
            <tr>
              <td>{{tariff_active.cabType ? tariff_active.cabType : 'N/A'}}</td>
              <td>{{tariff_active.rateActive ? '₹ '+tariff_active.rateActive+'/km' : 'N/A'}}</td>
              <td>{{tariff_active.distance ? tariff_active.distance : 'N/A'}}</td>
            </tr>
            <tr>
              <td colspan="3" class="yellow black-text">
                <span style="font-size: 1.5rem;">Total Fare :</span>
                <span style="font-size: 2rem; padding: 5px; font-weight: 500;">{{tariff_active.totalFare ? '₹
                  '+tariff_active.totalFare: 'N/A'}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <button ng-click='book_confirm()' class="btn black yellow-text left waves-effect waves-yellow" style="border: 1px solid yellow; font-weight:500;">confirm</button>
        <button class="btn black yellow-text right modal-close waves-effect waves-yellow" style="border: 1px solid yellow">cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- driver info modal -->
<div id="driver-info" class="modal black bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <div class="col s6">
        <div class="card yellow">
          <div class="card-content black-text">
            <span class="card-title">Ride details<i class="material-icons right">directions_car</i></span>
            <div class="card black">
              <div class="card-content white-text">
                <div>
                  <span class="tag">Driver Name</span>
                  <span class="right">{{ride_info.driver.firstname + ' ' + ride_info.driver.lastname}}</span>
                </div>
                <div>
                  <span class="tag">Mobile</span>
                  <span class="right">{{ride_info.driver.contact}}</span>
                </div>
                <div>
                  <span class="tag">Cab Type</span>
                  <span class="right">{{ride_info.driver.driverCab}}</span>
                </div>
                <div>
                  <span class="tag">Registeration No.</span>
                  <span class="right">{{ride_info.driver.cabRegister}}</span>
                </div>
              </div>
            </div>
            <p style="text-align: center; font-size: 2rem; margin-top: 0;">Total Fare: ₹{{ride_info.fare}}</p>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card yellow">
          <div class="card-content black-text">
            <span class="card-title">Ride Info<i class="material-icons right">directions</i></span>
            <div class="card black">
              <div class="card-content white-text">
                <div>
                  <span class="tag">Pickup:</span>
                  <p>{{ride_info.pickup}}</p>
                </div>
                <div>
                  <span class="tag">Destination:</span>
                  <p>{{ride_info.destination}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn black yellow-text waves-effect waves-yellow right" style="border: 1px solid yellow;">confirm</button>
    <button class="btn black yellow-text waves-effect waves-yellow right">cancel</button>
  </div>
</div>