<div class="container">
  <div class="row">
    <div class="col s12 m7 card grey lighten-1">
      <h3>Google Map</h3>
      <div id="map" class="z-depth-1" ng-init="initMap()"></div>
      <button ng-show="proceed" ng-click='check_cabs()' class="btn blue" id="ride_now">Ride
        Now</button>
      <button ng-show="proceed" class="btn orange" id="ride_later">Ride Later</button>
    </div>
    <div class="col s12 m5">
      <div class="home-info card black">
        <div class="card-content">
          <h4 class="white-text">Current Position</h4>
          <div class="input-field">
            <textarea disabled id="pos-input" class="materialize-textarea white-text"></textarea>
          </div>
        </div>
      </div>

      <div class="home-info card black">
        <div class="card-content white-text">
          <h4>Destination</h4>
          <input type="text" id="search" class="input-field white-text" />
          <div>
            <p class="details">Distance
              <span id="distance" class="blue badge white-text">N/A</span>
            </p>
            <p class="details">Duration
              <span id="duration" class="red badge white-text">N/A</span>
            </p>
          </div>
        </div>
      </div>

      <!-- <p>Distance <span id="distance" class="blue badge white-text"></span></p> -->
    </div>
  </div>
</div>

<div id="book-modal" class="modal black container">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">local_taxi</i>
        <select>
          <option value="" disabled selected>Choose Cab Type</option>
          <option value="Micro">Micro</option>
          <option value="Mini">Mini</option>
          <option value="Prime Sedan">Prime Sedan</option>
          <option value="Prime SUV">Prime SUV</option>
        </select>
        <!-- <label for="driverCab">Choose Cab Type</label> -->
      </div>
      <div class="col s4">
        <p style="color:white; font-size: 1.7rem; padding: 0 2rem; margin-top: 17px;">Cab Availability</p>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <table class="centered white-text">
          <thead>
            <th>Cab Type</th>
            <th>Rate</th>
            <th>Distance</th>
          </thead>
          <tbody>
            <tr>
              <td>{{tariff_active.cabType}}</td>
              <td>{{}}</td>
              <td>{{}}</td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </div>
</div>