<div class="container">
  <div class="row">
    <div class="col s12">
      <table class="driverrides-table">
        <thead>
          <th>S No.</th>
          <th>Date</th>
          <th>Time</th>
          <th>Pickup</th>
          <th>Destination</th>
          <th>Fare</th>
          <th>Status</th>
        </thead>

        <tbody>
          <tr ng-repeat="ride in rides">
            <td>{{$index+1}}</td>
            <td>{{ride.date}}</td>
            <td>{{ride.time}}</td>
            <td>{{ride.pickup}}</td>
            <td>{{ride.destination}}</td>
            <td>₹{{ride.fare}}</td>
            <td style="position:relative;">
              <span class="badge white-text" ng-class="{red: ride.ongoing == false, green: ride.ongoing == true}">{{ride.ongoing
                ? 'ongoing' : 'over'}}</span>
              <button ng-if='ride.ongoing' ng-click='endride(ride._id)' class="btn btn-small orange white-text pulse waves-effect waves-black"
                style="position:absolute; top:30%; left:110%;">end</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>