<div class="container">
  <div class="row" style="margin-bottom:0;">
    <div class="col s12 m7 card grey lighten-1">
      <h3>Google Map</h3>
      <div id="map" class="z-depth-1" ng-init="initMap()"></div>
    </div>
    <div class="col s12 m5">
      <div class="home-info card black">
        <div class="card-content">
          <h4 class="white-text">Current Position</h4>
          <div class="input-field">
            <textarea disabled id="pos-input" class="materialize-textarea white-text"></textarea>
          </div>
        </div>
      </div>
      <div class="home-info card black">
        <div class="card-content white-text">
          <h4>Details</h4>
          <p>Name: <span class="right">{{loggedIn.firstname+' '+loggedIn.lastname}}</span></p>
          <p>Email: <span class="right">{{loggedIn.email}}</span></p>
          <p>Contact: <span class="right">{{loggedIn.contact}}</span></p>
          <p>Cab: <span class="right">{{driver.driverCab}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ride info modal -->
<div id="ride-info" class="modal black bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <div class="col s6">
        <div class="card yellow">
          <div class="card-content black-text">
            <span class="card-title">Customer details<i class="material-icons right">account_box</i></span>
            <div class="card black">
              <div class="card-content white-text">
                <div>
                  <span class="tag">Name</span>
                  <span class="right">{{ride_data.user.firstname + ' ' + ride_data.user.lastname}}</span>
                </div>
                <div>
                  <span class="tag">Mobile</span>
                  <span class="right">{{ride_data.user.contact}}</span>
                </div>
                <div>
                  <span class="tag">Email</span>
                  <span class="right">{{ride_data.user.email}}</span>
                </div>
              </div>
            </div>
            <p style="text-align: center; font-size: 2rem; margin-top: 0;">Total Fare: ₹{{ride_data.fare}}</p>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card yellow">
          <div class="card-content black-text">
            <span class="card-title">Ride Info<i class="material-icons right">directions</i></span>
            <div class="card black">
              <div class="card-content white-text">
                <div>
                  <span class="tag">Pickup:</span>
                  <p>{{ride_data.pickup}}</p>
                </div>
                <div>
                  <span class="tag">Destination:</span>
                  <p>{{ride_data.destination}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn black yellow-text modal-close waves-effect waves-yellow right" style="border: 1px solid yellow;"
      ng-click='ride_accept()'>Accept</button>
    <button class="btn black yellow-text modal-close waves-effect waves-yellow right">Reject</button>
  </div>
</div>

<a id="notify_driver" style="left:95%" class="black waves-effect waves-light btn btn-floating"><i class="material-icons">menu</i></a>
<!-- Tap Target Structure -->
<div class="tap-target yellow" data-target="notify_driver">
  <div class="tap-target-content">
    <h2 style="margin-bottom:50px; text-align:center; width:280px; float:right;">Your ride is currently ongoing!</h2>
  </div>
</div>