<div class="profile container">
  <div class="row">
    <div class="col s12 card black">
      <h2>
        <i class="large material-icons">account_circle</i>
      </h2>
      <h5>User Information</h5>
      <div class="col s4">
        <h6>First Name</h6>
        <h6>Last Name</h6>
        <h6>Contact No.</h6>
        <h6>Email Id</h6>
        <h6>Type</h6>
      </div>
      <div class="col s4">
        <h6>{{loggedIn.firstname}}</h6>
        <h6>{{loggedIn.lastname}}</h6>
        <h6>{{loggedIn.contact}}</h6>
        <h6>{{loggedIn.email}}</h6>
        <h6>{{loggedIn.role}}</h6>
      </div>
      <div class="col s4">
        <button class="btn">Ride History</button>
        <button class="btn">Edit Info</button>
        <button class="btn">Delete Account</button>
        <button class="btn">Book A Cab</button>
      </div>
    </div>
  </div>
</div>