<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h4>Tariff Plans
        <button ng-show="!addwindow" ng-click="showform()" class="btn">Add</button>
      </h4>

      <!-- window modal  -->
      <div ng-show="addwindow" class="col s12 card black">
        <form class="tariff-form white-text">
          <h5>Add a new tariff plan
            <span ng-click="closeform()" class="right" style="cursor: pointer">
              <i class="material-icons">close</i>
            </span>
          </h5>
          <div ng-show="tariffUpdate" class="col s6">
            <label for="cabDisplay">Current Cab Type</label>
            <input id="cabDisplay" value="{{cabDisplay}}" type="text" disabled>
          </div>
          <div id="selectCab" class="input-field col s12">
            <select id="cabType">
              <option value="" disabled selected>Choose Cab Type</option>
              <option value="Micro">Micro</option>
              <option value="Mini">Mini</option>
              <option value="Prime Sedan">Prime Sedan</option>
              <option value="Prime SUV">Prime SUV</option>
            </select>
            <label for="cabType">Choose Cab Type</label>
          </div>
          <div class="input-field col s6">
            <input id="normalRate" type="number" required>
            <label for="normalRate">Normal Hour Rate</label>
          </div>
          <div class="input-field col s6">
            <input id="peakRate" type="number" required>
            <label for="peakRate">Peak Hour Rate</label>
          </div>
          <div class="input-field col s6">
            <input id="peakHourStart" type="time" required>
            <label for="peakHourStart">Peak Hour(start)</label>
          </div>
          <div class="input-field col s6">
            <input id="peakHourEnd" type="time" required>
            <label for="peakHourEnd">Peak Hour(end)</label>
          </div>
          <div class="input-field col s6 offset-s6">
            <button type="button" ng-click="tariffUpdate ? updatetariff(updateID) : saveform()" id="saveform" class="btn yellow btn-small black-text right">save</button>
            <!-- <input type="reset" value="Reset" class="btn btn-small white black-text right" /> -->
          </div>

        </form>
      </div>

      <table>
        <thead>
          <th>Cab Type</th>
          <th>Normal Hour Rate</th>
          <th>Peak Hour Rate</th>
          <th>Peak Hours</th>
          <th>Actions</th>
        </thead>

        <tbody>
          <tr ng-repeat="tariff in tariffs">
            <td>{{tariff.cabType}}</td>
            <td>{{tariff.normalRate}}</td>
            <td>{{tariff.peakRate}}</td>
            <td>{{tariff.peakHourStart}} - {{tariff.peakHourEnd}}</td>
            <td>
              <span ng-click="showtariff(tariff._id)" style="cursor: pointer">
                <i class="material-icons yellow-text">menu</i>
              </span>
              <span ng-click="deletetariff(tariff._id)" style="cursor: pointer">
                <i class="material-icons red-text">delete_forever</i>
              </span>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>