/* home.html styles */
#map {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.details {
  margin-top: 5px !important;
}

.home-info {
  height: 231px;
  margin-bottom: 40px;
}

textarea.materialize-textarea {
  box-sizing: unset;
}

.card-content {
  padding: 20px !important;
}

/* tariff.html styles */
.tariff-form input,
.tariff-form input[type="text"]:not(.browser-default):disabled {
  color: white;
}

.tariff-form .select-wrapper .caret {
  fill: white;
}

/* driver.html styles */
.driver-form input,
.driver-form input[type="text"]:not(.browser-default):disabled,
textarea {
  color: white;
}

.driver-form .select-wrapper .caret {
  fill: white;
}
