input {
  color: white;
}

body {
  background: url('../images/Photo\ by\ Scott\ Walsh\ on\ Unsplash.jpg');
  background-size: 60% 100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* #region login.html */
.login.container {
  margin: 20vh auto;
}
/* #endregion login.html */

/* #region book.html */

#map {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

button#ride_now,
button#ride_later {
  position: absolute;
  top: 85%;
}

button#ride_now {
  left: 21%;
}

button#ride_later {
  left: 50%;
}
.details {
  margin-top: 5px !important;
}

.home-info {
  height: 231px;
  margin-bottom: 40px;
}

textarea.materialize-textarea {
  box-sizing: unset;
}

.card-content {
  padding: 20px !important;
}

#book-modal {
  height: 80vh;
}

#book-modal table {
  box-shadow: inset 0px 0px 20px 4px #ffff0087;
}

#book-modal .input-field .prefix {
  left: 15px;
}

#book-modal select {
  display: block;
  padding-left: 30px;
}

#book-modal table thead th,
#book-modal table tbody tr > td[colspan='3'] {
  border-radius: 0;
  padding: 5px;
}
/* #endregion book.html */

/* #region tariff.html */

.tariff h4 {
  background-color: #000000e3;
  text-align: center;
  color: white;
  border-radius: 0.1em;
  display: inline-block;
  padding: 0.4em;
  margin-left: 10em;
}

.tariff-table {
  background-color: #000000e3;
  color: whitesmoke;
  border-radius: 1em;
}

.tariff-table thead {
  color: #ffeb3b;
  font-size: 1.1em;
}

.tariff-table thead tr th,
.tariff-table tbody tr td {
  text-align: center;
}

.tariff-form input,
.tariff-form input[type='text']:not(.browser-default):disabled {
  color: white;
}

.tariff-form .select-wrapper .caret {
  fill: white;
}
/* #endregion tariff.html */

/* #region driver.html */

.driver-form input,
.driver-form input[type='text']:not(.browser-default):disabled,
textarea {
  color: white;
}

.driver-form .select-wrapper .caret {
  fill: white;
}

.driver-table {
  background-color: #000000e3;
  color: whitesmoke;
  border-radius: 1em;
}

.driver-table thead {
  color: #ffeb3b;
  font-size: 1.1em;
}
.driver-table thead tr th,
.driver-table tbody tr td {
  text-align: center;
}

.driver-table tbody tr td:first-child {
  text-align: left;
  padding-left: 1em;
  text-transform: capitalize;
}

.driver h4 {
  background-color: #000000e3;
  text-align: center;
  color: white;
  border-radius: 0.1em;
  display: inline-block;
  padding: 0.4em;
  margin-left: 10em;
}
/* #endregion driver.html */

/* #region home.html */

#home-cover h4 {
  padding: 1rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#home-cover h4 span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
}

#home-cover a {
  position: absolute;
  top: 50%;
  left: 45%;
  background-color: #141a1e;
  border: 3px groove #ffeb3b;
  border-radius: 40px;
  padding: 0 20px;
  color: #f4ebb2;
  font-family: 'Roboto';
  font-size: 31px;
}

#home-cover a:hover {
  background-color: #ffeb3b;
  border: 3px solid #141a1e;
  color: #141a1e;
}
/* #endregion home.html */

/* #region profile.html */
.profile.container {
  color: white;
  opacity: 0.9;
  margin: 10vh auto;
}

.profile.container h2,
.profile.container h5 {
  text-align: center;
}

.profile.container h6 {
  margin: 1em;
  padding: 0.4em;
  text-align: left;
}

.profile.container button {
  margin: 1em;
}
/* #endregion profile.html */

/* #region driverhome.html */

#ride-info {
  max-height: 55%;
}

#ride-info .card.yellow {
  height: 250px;
}

#ride-info .tag {
  font-weight: 700;
}

#ride-info .tag + p {
  margin: 5px;
}
/* #endregion driverhome.html */
