input {
  color: white;
}
/* book.htmlstyles  */

#map {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.details {
  margin-top: 5px !important;
}

.home-info {
  height: 231px;
  margin-bottom: 40px;
}

textarea.materialize-textarea {
  box-sizing: unset;
}

.card-content {
  padding: 20px !important;
}

/* tariff.html styles */

.tariff-form input,
.tariff-form input[type="text"]:not(.browser-default):disabled {
  color: white;
}

.tariff-form .select-wrapper .caret {
  fill: white;
}

/* driver.html styles */
.driver-form input,
.driver-form input[type="text"]:not(.browser-default):disabled,
textarea {
  color: white;
}

.driver-form .select-wrapper .caret {
  fill: white;
}

/* home.html styles */
#home-cover {
  background: url("../images/Photo\ by\ Scott\ Walsh\ on\ Unsplash.jpg");
  background-size: 60% 100%;
  width: 100vw;
  height: 90.4vh;
  overflow: hidden;
}
#home-cover h4 {
  padding: 1rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#home-cover h4 span {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
}

#home-cover a {
  position: absolute;
  top: 50%;
  left: 45%;
  background-color: #141a1e;
  border: 3px groove #ffeb3b;
  border-radius: 40px;
  padding: 0 20px;
  color: #f4ebb2;
  font-family: "Roboto";
  font-size: 31px;
}

#home-cover a:hover {
  background-color: #ffeb3b;
  border: 3px solid #141a1e;
  color: #141a1e;
}
