/* home.html styles */
#map {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.details {
  margin-top: 5px !important;
}

.home-info {
  height: 231px;
  margin-bottom: 40px;
}

textarea.materialize-textarea {
  box-sizing: unset;
}

.card-content {
  padding: 20px !important;
}

/* tariff.html styles */
.tariff-form .input-field input[type="number"],
.tariff-form .input-field input[type="time"],
.tariff-form .input-field .select-wrapper input.select-dropdown {
  color: white;
}
